/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy {
  
/*  -webkit-animation-name: rotate; 
  -webkit-animation-duration: 1.5s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;*/


}